<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Editar Usuario')"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            <h2 th:text="${usuario.id == null ? 'Nuevo usuario' : 'Editar usuario'}"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <form th:action="@{/usuarios/{id}(id=${usuario.id})}" th:object="${usuario}" method="post">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}" required/>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}" required/>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html> 